# Ignore secrets folder
/secrets/
secrets/
Movie life.txt
Reverse Parallelism.txt
study_alg.py
untitled.txt
warming up.txt
color.css
App functionality.md
test_file.py
c_sidebar.py
calander.py
color.css
cp_tracker_db.py
flashcards.py
game_sys.py
game_sys2.py
game_ui.py
habit_tracker.py
heatmap.py
note_worthy.py
pomodoro_gui.py
recorder.py
resizable.py
settings.py
sidebar.py
space_invader_widget.py
space_invader.py
spinning_text.py
study_alg.py
v_tabs.py
todo.txt
signal_and_slots_pract
